# Series Introduction

In [2]:
import pandas as pd

songs = {
    'index':['Paul', 'John', 'George', 'Ringo'],
    'data':[145, 142, 38, 13],
    'name':'counts'
}

def get (series, idx):
    """ Take the dictionary and the index and return the value """
    value_idx = series['index'].index(idx)
    return series['data'][value_idx]

print(get(songs, 'Paul'))
print(get(songs, 'George'))

""" Creating a Series """
songs_2 = pd.Series([145, 142, 38, 13], name='counts')
print(songs_2)

""" Index Information """
songs_2.index

""" Non-integer index """
songs_3 = pd.Series([145, 142, 38, 13],
                    name='counts',
                    index=['Paul', 'John', 'George', 'Ringo'])
print(songs_3)

145
38
0    145
1    142
2     38
3     13
Name: counts, dtype: int64
Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64

### NaN's / Nulls / < NA >

In [7]:
""" Optional Integer Support for NaN """
nan_series = pd.Series([2, None, 8],
                       index=['A', 'B', 'C'],
                       dtype='Int64')

print(nan_series)

A       2
B    <NA>
C       8
dtype: Int64

### Making a Mask

In [10]:
mask = songs_3 > songs_3.median() # Boolean Array
print(mask)
print(songs_3[mask])

mask_2 = songs_3 > songs_3.mean()
print(songs_3[mask_2])

mask_3 = songs_3 > 30
print(songs_3[mask_3])

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool
Paul    145
John    142
Name: counts, dtype: int64
Paul    145
John    142
Name: counts, dtype: int64
Paul      145
John      142
George     38
Name: counts, dtype: int64

### Categories

In [13]:
size = pd.Series(['xs', 's', 'm', 'l', 'xl'], dtype='category')
print(size)

print(size.cat.ordered)

""" To convert a non-categorical series to an ordered category, create a type with CategoricalDtype"""
s2 = pd.Series(['m', 'xs', 'xl', 'l', 's'])
size_type = pd.api.types.CategoricalDtype(
    categories=['xs', 's', 'm', 'l', 'xl'],
    ordered=True)
s3 = s2.astype(size_type)


print("\n",[size for size in s3])

mask = s3 < 'm'
print(s3 < 'm')

print(s3[mask])

print(s3.str.upper())

0    xs
1     s
2     m
3     l
4    xl
dtype: category
Categories (5, object): ['l', 'm', 's', 'xl', 'xs']
False

 ['m', 'xs', 'xl', 'l', 's']
0    False
1     True
2    False
3    False
4     True
dtype: bool
1    xs
4     s
dtype: category
Categories (5, object): ['xs' < 's' < 'm' < 'l' < 'xl']
0     M
1    XS
2    XL
3     L
4     S
dtype: object